page-restaurant-detail {

	.subtitle{
		font-size: 16px !important;
		font-weight: 800 !important;
		color: #e67e22;
		padding-left: 10px;
	}

	ion-card{

		.image-holder{
			position: relative;
			height: 200px !important;
			overflow: hidden;
		}

		ion-card-title{
			font-weight: 700 !important;
		}

		ion-card-content{
			text-align: left;

			.host-picture{
				border-radius: 50%;
			}

			.guest-picture{
				height: 40px; 
				width: 40px;
				border-radius: 50%;
				margin-right: 5px;
			}

			.guest-picture-container{
				display: flex;
				flex-direction: row;
				flex-wrap: nowrap;
			}

			h2{
				font-weight: 600 !important;
				color: #e67e22;
			}

			h3{
				font-weight: 500 !important;
			}

			// p{
			// 	color: black !important;
			// }

			ion-icon{
				color: #e67e22;
				font-size: 20px;
			}

			.label-participants{
				margin-top: 10px;
				color: #606060;
				font-size: 12px;
			}
		}

		ion-chip{
			margin-right: 10px !important;
		}

		.appointment{
			position: absolute;
			top: 150px;
			left: 16px;
			z-index: 10000;
			box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2) !important;
			background-color: #f39c12;
			background-image: linear-gradient(147deg, #f39c12 0%, #FF2525 74%);



			ion-label{
				font-weight: 700 !important;
				font-size: 1.15em !important;
			}
		}
	}

	ion-button{
		padding: center;
	}
}